<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body style="font-size:20px; padding:50px;">

  <header>
    <% include ./partials/_header %>
  </header>

  <main>

    <br>
    <br>
    <form method="POST" action="/login">
      <p class="formLabel" style="display: inline-block">E-mail address:</p>
      <input type="email" id="emailLogin" name="email" placeholder="email" style="width: 150px">
      <br>
      <p class="formLabel" style="display: inline-block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password:</p>
      <input type="password" id="passwordLogin" name="password" placeholder="password" style="width: 150px">
      <br>
      <input type="submit" value="login">
      <br>
    </form>

  </main>

  </body>

</html>