<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>

<header>
  <h1>TinyApp</h1>
</header>

<main>

<form method="POST" action="/login">
  <p id="emailLabel" class="formLabel">E-mail address:</p>
  <input type="email" id="email" name="email" placeholder="email" style="width: 150px">
  <br>
  <p class="formLabel">Password:</p>
  <input type="password" id="password" name="password" placeholder="password" style="width: 150px">
  <br>
  <br>
  <input type="submit" value="login">
  <br>
</form>

</main>

</body>

</html>