<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body style="font-size:20px; padding:50px;">

  <header>
    <% include ./partials/_header %>
  </header>

  <main>

    <br>
    <br>
    <form method="POST" action="/register">
        <p class="formLabel" style="display: inline-block">E-mail address:</p>
        <input type="email" id="emailRegister" name="email" placeholder="your email address" style="width: 200px">
        <br>
        <p class="formLabel" style="display: inline-block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password:</p>
        <input type="password" id="passwordRegister" name="password" placeholder="password" style="width: 200px">
        <br>
        <input type="submit" value="Register">
    </form>

  </main>

  </body>

</html>
