<!-- views/urls_index.ejs -->
<!-- shows a list of all of the short urls and their
  corresponding long urls, and includes a link to make
  a short url -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>

<header>
  <% include ./partials/_header %>
</header>

<main>
  <a href='#'>Link for Shortening URL</a>
  <ul>
    <% for (shortURL in urls) { %>
      <li><%= shortURL %> - <%= urls[shortURL] %></li>
    <% }; %>
  </ul>
</main>

</body>
</html>