<!-- views/urls_show.ejs -->
<!-- shows the short url and long url of a given short url -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>

<header>
  <% include ./partials/_header %>
</header>

<main>
  <ul>
      <li><%= shortURL %> - <%= urls[shortURL] %></li>
  </ul>
</main>

</body>
</html>